extends layout

block scripts

block content

    div.panel.panel-default.login-wrapper
        div.panel-heading Log In Using Twitter
        div.panel-body
            img.img-thumbnail(src="images/twitter.png",onclick="window.location.href = '/login/twitter'")


